.truck-button .default,
.truck-button .success {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    opacity: var(--o, 1);
    transition: opacity 0.3s;
}
.truck-button .success {
    --o: 0;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
}
.truck-button.animation {
    --rx: -90deg;
    --br: 0;
}