body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Social Page Content */
.social-content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80vh; /* Adjust height for centering */
    flex-direction: column; /* Align icons vertically */
    gap: 20px; /* Space between the icons */
}

.social-icon {
    width: 80px; /* Set width for icons */
    height: 80px; /* Set height for icons */
    cursor: pointer;
    transition: transform 0.3s; /* Animation effect on hover */
}

.social-icon:hover {
    transform: scale(1.1); /* Scale effect on hover */
}

.navbar {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 10px;
    font-size: 1.5em;
}

.navbar-links {
    margin: 0 auto; /* Center the navigation links horizontally */
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar-links a:hover {
    background-color: darkred;
}